#section-1 {
  text-align: center;
  font-size: 30px;
  padding: 20px 50px 50px 50px;
}

#section-1 h1 {
  font-size: 50px;
  font-style: oblique;
  color: gold;
}

#section-2 {
  display: none;
  text-align: center;
  font-size: 40px;
}

#pig {
  color: gold;
}

#dice {
  width: 100px;
  height: 100px;
  border: solid gold 5px;
  text-align: center;
  margin: 20px 100px 0px 150px;
}

#dice h2 {
  font-size: 50px;
  color: gold;
}

button {
  width: 150px;
  background-color: white;
  border: 3px solid black;
  color: black;
  padding: 3px;
}

#player1 {
  color: blue;
}

#player2 {
  color: red;
}

.players {
  color: black;
}
